
<div class="background">
    <mat-toolbar style="position:fixed;">
      <mat-icon>track_changes</mat-icon>
      <span>Issue Tracker</span>
    </mat-toolbar>
    <div class="container" [align]="'center'">
      <mat-icon class="logo">track_changes</mat-icon>
      <h1>Issue Tracker</h1>
      <button mat-raised-button color="primary" (click)="openLoginDialog()">Login Here</button>
      <button mat-raised-button color="primary" (click)="openRegisterDialog()">Register Here</button>
    </div>
  </div>