<form [formGroup]="registerForm" style="max-width: 500px;">
  <h1>Register</h1>
  <mat-form-field appearance="outline">
      <mat-label>User Name</mat-label>
      <input matInput formControlName="username"placeholder="User Name">
      <mat-icon matSuffix>person</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Email Address</mat-label>
      <input matInput formControlName="email" [email]="true" type="email" placeholder="Email Address">
      <mat-icon matSuffix>email</mat-icon>
  
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Phone Number</mat-label>
      <input matInput formControlName="phone" placeholder="Phone Number">
      <mat-icon matSuffix>phone</mat-icon>
     <mat-error *ngIf="registerForm.controls['phone'].dirty && registerForm.hasError('pattern','phone')">Invalid Input(input should be only 10 numbers)</mat-error>
  
     
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input  [type]="show ? 'text' : 'password'" formControlName="password" matInput placeholder="Password">
      <mat-icon matSuffix *ngIf="this.show" (click)="password()">visibility_on</mat-icon>
      <mat-icon matSuffix *ngIf="!this.show" (click)="password()">visibility_off</mat-icon>
      <mat-error *ngIf="registerForm.controls['password'].dirty && registerForm.hasError('pattern','password')">  Minimum eight characters, at least one capital letter, one number and one special character</mat-error>
   
    </mat-form-field>
    <div  mat-dialog-action [align]="'end'">
      <button  mat-raised-button color="warn" (click)="registerUser()">Register</button>
    </div>
</form>