.example-spacer {
    flex: 1 1 auto;
  }
  /* button{
    padding: 20px;
    margin:10px;
    border-radius:10px
  } */
  table {
    width: 100%;
  }
  .container{
    padding-top: 100px;
  }
  .example-icon{
    margin-top: 0px;
  }
  .background{
    background-image: linear-gradient( 95.2deg, rgba(173,252,234,1) 26.8%, rgba(192,229,246,1) 64% );
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  .logo{
    color:rgb(128, 128, 128);
    font-size: 150px;
    margin-right:120px;
  }
  h1{
    color:rgb(128, 128, 128);
    font-size: 100px;
    margin-top: -10px;
    margin-bottom: -5px;
  }
  td, th {
    width: 25%;
  }
  .searchBar{
 max-width:500px;
margin-top: 17px;
 margin-right: 30px;
 margin-left: 30px;
}